:root {
  --primary: #58a4b0;
  --secondary: #a9bcd0;
  --tritary: #373f51;
  --backgroundColor: #1b1b1e;
  --fontColor: #d8dbe2;
}

.background {
  background: var(--backgroundColor);
}

.font-primary {
  font-family: "Oxygen", sans-serif;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
}
